body{
   
    background-color: rgb(57, 56, 56);
    color: antiquewhite;
}
.container{
    align-items: center;
    justify-content: start;
}
.photo{
    background-image: url('C:\holiday\React project\TVApp\TV_App\src\tv3-removebg-preview.jpg');
    background-size: cover;
    background-position: center;
}
.card{
    background-color: rgb(51, 51, 51) ;
    color: antiquewhite;
    border: 2px solid antiquewhite ;
}
.image{
    background-size: cover;
    background-position: center;
}
th{
    padding: 15px;
}
.photo2{
margin-top: 20px;
}
.photo3{
    background-image:url('C:\holiday\React project\TVApp\TV_App\src\MRUTYUNJAYA.jpg');
    background-size: cover;
}

